/* CELULARES */
@media screen and (max-width: 430px) {
    .relogio {
        height: 140px;
        width: 330px;
    }

    .relogio div {
        height: 120px;
        width: 100px;
    }

    .relogio span.tempo {
        font-size: 14px;
    }
}

/* RELOGIOS */
@media screen and (max-width: 162px) {
    .relogio {
        height: 100px;
        width: 150px;
    }

    .relogio div {
        height: 80px;
        width: 47px;
    }

    .relogio span {
        font-size: 35px;
    }

    .relogio span.tempo {
        font-size:6px;
    }
}